.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #efe8f5;
}
body {
  font-family: Roboto Flex;
}
.display-1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #c77dff !important;
}
.bg-success {
  background-color: #66e3a9 !important;
}
.bg-info {
  background-color: #53dbf6 !important;
}
.bg-warning {
  background-color: #ffd24a !important;
}
.bg-danger {
  background-color: #e46571 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #c77dff !important;
  border-color: #c77dff !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ddb0ff !important;
  border-color: #ddb0ff !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ddb0ff !important;
  border-color: #ddb0ff !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d5b2e7 !important;
  border-color: #d5b2e7 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ead9f3 !important;
  border-color: #ead9f3 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ead9f3 !important;
  border-color: #ead9f3 !important;
}
.btn-info,
.btn-info:active {
  background-color: #53dbf6 !important;
  border-color: #53dbf6 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #83e5f9 !important;
  border-color: #83e5f9 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #83e5f9 !important;
  border-color: #83e5f9 !important;
}
.btn-success,
.btn-success:active {
  background-color: #66e3a9 !important;
  border-color: #66e3a9 !important;
  color: #0b3f27 !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #91ebc1 !important;
  border-color: #91ebc1 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #0b3f27 !important;
  background-color: #91ebc1 !important;
  border-color: #91ebc1 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffd24a !important;
  border-color: #ffd24a !important;
  color: #4a3800 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffdf7d !important;
  border-color: #ffdf7d !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #4a3800 !important;
  background-color: #ffdf7d !important;
  border-color: #ffdf7d !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e46571 !important;
  border-color: #e46571 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ec9099 !important;
  border-color: #ec9099 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ec9099 !important;
  border-color: #ec9099 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #c77dff;
  color: #c77dff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a226ff !important;
  background-color: transparent !important;
  border-color: #a226ff !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c77dff !important;
  border-color: #c77dff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #d5b2e7;
  color: #d5b2e7;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b170d2 !important;
  background-color: transparent !important;
  border-color: #b170d2 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #d5b2e7 !important;
  border-color: #d5b2e7 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #53dbf6;
  color: #53dbf6;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0cc2e6 !important;
  background-color: transparent !important;
  border-color: #0cc2e6 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #53dbf6 !important;
  border-color: #53dbf6 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #66e3a9;
  color: #66e3a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #25cd7f !important;
  background-color: transparent !important;
  border-color: #25cd7f !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #0b3f27 !important;
  background-color: #66e3a9 !important;
  border-color: #66e3a9 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffd24a;
  color: #ffd24a;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #f2b600 !important;
  background-color: transparent !important;
  border-color: #f2b600 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #4a3800 !important;
  background-color: #ffd24a !important;
  border-color: #ffd24a !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #e46571;
  color: #e46571;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ce2434 !important;
  background-color: transparent !important;
  border-color: #ce2434 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e46571 !important;
  border-color: #e46571 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #c77dff !important;
}
.text-secondary {
  color: #d5b2e7 !important;
}
.text-success {
  color: #66e3a9 !important;
}
.text-info {
  color: #53dbf6 !important;
}
.text-warning {
  color: #ffd24a !important;
}
.text-danger {
  color: #e46571 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #9b17ff !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ab64cf !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #23c077 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #0bb6d8 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #e3ab00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #c12231 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #c77dff;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #53dbf6;
}
.alert-warning {
  background-color: #ffd24a;
}
.alert-danger {
  background-color: #e46571;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c77dff;
  border-color: #c77dff;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #c77dff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #c77dff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #c77dff;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #c77dff;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #c77dff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #c77dff;
  border-bottom-color: #c77dff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #c77dff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d5b2e7 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23c77dff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-uenD05rXmt {
  display: flex;
}
@media (min-width: 768px) {
  .cid-uenD05rXmt {
    align-items: flex-end;
  }
  .cid-uenD05rXmt .row {
    justify-content: flex-start;
  }
  .cid-uenD05rXmt .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uenD05rXmt .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uenD05rXmt {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-uenD05rXmt .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uenD05rXmt .content-wrap {
    width: 100%;
  }
}
.cid-uenD05rXmt .mbr-fallback-image.disabled {
  display: none;
}
.cid-uenD05rXmt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-uenD05rXmt .mbr-section-title,
.cid-uenD05rXmt .mbr-section-subtitle {
  text-align: center;
  color: #ffc091;
}
.cid-uenD05rXmt .mbr-text,
.cid-uenD05rXmt .mbr-section-btn {
  text-align: center;
}
.cid-uenD05rXmt .mbr-section-title {
  color: #5A189A;
}
.cid-uenD05rXmt .mbr-section-subtitle {
  color: #5A189A;
}
.cid-uenD05rmoH {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/25edc232-cd37-4b1f-a7b2-59f8080dd5cc-1600x1200.jpg");
}
.cid-uenD05rmoH .mbr-fallback-image.disabled {
  display: none;
}
.cid-uenD05rmoH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uenD05rmoH .card-wrapper {
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-uenD05rmoH .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uenD05rmoH .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-uenD05rmoH .card-wrapper {
    padding: 4rem;
  }
}
.cid-uenD05rmoH .mbr-text,
.cid-uenD05rmoH .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-uenD05rmoH .card-title,
.cid-uenD05rmoH .card-box {
  text-align: left;
  color: #000000;
}
.cid-uenD05sKXx {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uenD05sKXx .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-uenD05sKXx img,
.cid-uenD05sKXx .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-uenD05sKXx .item:focus,
.cid-uenD05sKXx span:focus {
  outline: none;
}
.cid-uenD05sKXx .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uenD05sKXx .item {
    margin-bottom: 1rem;
  }
}
.cid-uenD05sKXx .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uenD05sKXx .mbr-section-title {
  color: #232323;
}
.cid-uenD05sKXx .mbr-text,
.cid-uenD05sKXx .mbr-section-btn {
  color: #232323;
}
.cid-uenD05sKXx .item-title {
  color: #232323;
}
.cid-uenD05sKXx .content-head {
  max-width: 800px;
}
.cid-uenD05sXHO {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/photo-1614089254151-676cc373b01e.jpeg");
}
.cid-uenD05sXHO .mbr-fallback-image.disabled {
  display: none;
}
.cid-uenD05sXHO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uenD05sXHO .card-wrapper {
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-uenD05sXHO .card-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uenD05sXHO .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-uenD05sXHO .card-wrapper {
    padding: 4rem;
  }
}
.cid-uenD05sXHO .mbr-text,
.cid-uenD05sXHO .mbr-section-btn {
  text-align: center;
}
.cid-uenD05ufOJ {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uenD05ufOJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-uenD05ufOJ .item-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cid-uenD05ufOJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uenD05ufOJ .mbr-iconfont {
  display: inline-flex;
  font-size: 2rem;
  color: #d70081;
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ffd7ef;
  height: 80px;
  border-radius: 50%;
}
.cid-uenD05ufOJ .card-title,
.cid-uenD05ufOJ .iconfont-wrapper,
.cid-uenD05ufOJ .card-text {
  color: #000000;
  text-align: center;
}
.cid-uenD05ufOJ .content-head {
  max-width: 800px;
}
.cid-uenD05ufOJ .mbr-section-title {
  color: #000000;
}
.cid-uenD05ufOJ .mbr-section-btn {
  text-align: center;
}
.cid-uenD05ufOJ .card-title,
.cid-uenD05ufOJ .iconfont-wrapper {
  color: #C77DFF;
}
.cid-uenD05uzzb {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uenD05uzzb .item:focus,
.cid-uenD05uzzb span:focus {
  outline: none;
}
.cid-uenD05uzzb .item {
  cursor: pointer;
}
.cid-uenD05uzzb .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-uenD05uzzb .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-uenD05uzzb .grid-container-1,
.cid-uenD05uzzb .grid-container-2 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-uenD05uzzb .grid-container-1,
  .cid-uenD05uzzb .grid-container-2 {
    gap: 0 1rem;
  }
}
.cid-uenD05uzzb .mbr-section-title {
  color: #000000;
}
.cid-uenD05uzzb .mbr-text,
.cid-uenD05uzzb .mbr-section-btn {
  color: #000000;
}
.cid-uenD05uzzb .content-head {
  max-width: 800px;
}
.cid-uenD05uzzb .container,
.cid-uenD05uzzb .container-fluid {
  overflow: hidden;
}
.cid-uenD05uzzb .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-uenD05uzzb .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uenD05uzzb .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-uenD05uzzb .grid-item img {
    min-width: 35vw;
  }
}
.cid-uenD05uzzb .grid-container-1,
.cid-uenD05uzzb .grid-container-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-uenD05uzzb .grid-container-1 {
  align-items: flex-end;
}
.cid-uenD05uzzb .grid-container-2 {
  align-items: flex-start;
}
.cid-uenD05uqMJ {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uenD05uqMJ .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-uenD05uqMJ img,
.cid-uenD05uqMJ .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-uenD05uqMJ .item:focus,
.cid-uenD05uqMJ span:focus {
  outline: none;
}
.cid-uenD05uqMJ .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uenD05uqMJ .item {
    margin-bottom: 1rem;
  }
}
.cid-uenD05uqMJ .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uenD05uqMJ .item-content {
  display: flex;
  flex-direction: column;
}
.cid-uenD05uqMJ .item-content .item-footer {
  margin-top: auto;
}
.cid-uenD05uqMJ .mbr-section-title {
  color: #000000;
}
.cid-uenD05uqMJ .mbr-text,
.cid-uenD05uqMJ .mbr-section-btn {
  color: #000000;
}
.cid-uenD05uqMJ .item-title {
  color: #000000;
}
.cid-uenD05uqMJ .content-head {
  max-width: 800px;
}
.cid-uenD05vPFT {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-uenD05vPFT .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-uenD05vPFT .panel-group {
  border: none;
}
.cid-uenD05vPFT .card-header {
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-uenD05vPFT .card-header {
    padding: 0rem;
  }
}
.cid-uenD05vPFT .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-uenD05vPFT .img-col {
  padding: 0;
}
.cid-uenD05vPFT .img-item {
  height: 100%;
}
.cid-uenD05vPFT img {
  height: 100%;
  object-fit: cover;
}
.cid-uenD05vPFT .collapsed span {
  transform: rotate(0deg);
}
.cid-uenD05vPFT .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-uenD05vPFT p {
  margin-bottom: 0.3rem;
}
.cid-uenD05vPFT .panel-title-edit {
  color: #000000;
}
.cid-uenD05vPFT .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-uenD05vPFT .card {
  background: #ffffff;
  padding: 2.25rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-uenD05vPFT .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uenD05vPFT .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-uenD05vPFT .panel-text {
  color: #000000;
}
.cid-uenD05vPFT .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-uenD05vPFT .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-uenD05vPFT .panel-title-edit,
.cid-uenD05vPFT .mbr-iconfont {
  color: #000000;
}
.cid-uenD05vhS2 {
  background-image: url("../../../assets/images/photo-1462833919278-10e9c6a16cea.jpeg");
  overflow: hidden;
}
.cid-uenD05vlD8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uenD05vlD8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uenD05vlD8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-uenD05vlD8 .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-uenD05vlD8 .row {
  flex-direction: row-reverse;
}
.cid-uenD05vlD8 .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-uenD05vlD8 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-uenD05vlD8 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-uenD05vlD8 .mbr-section-title {
  color: #000000;
}
.cid-uenD05vlD8 .mbr-text,
.cid-uenD05vlD8 .mbr-section-btn {
  color: #000000;
}
.cid-uenD05v2Gj {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-uenD05v2Gj .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-uenD05v2Gj .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uenD05v2Gj .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uenD05v2Gj .item-wrapper {
    padding: 1.5rem;
    margin-bottom: 1rem;
  }
}
.cid-uenD05v2Gj .card-title,
.cid-uenD05v2Gj .iconfont-wrapper {
  color: #000000;
}
.cid-uenD05v2Gj .card-text {
  color: #000000;
  text-align: left;
}
.cid-uenD05v2Gj .content-head {
  max-width: 800px;
}
.cid-uenD05v2Gj .mbr-section-title {
  color: #000000;
}
.cid-uenD05v2Gj .card-title,
.cid-uenD05v2Gj .img-wrapper {
  text-align: center;
}
.cid-uenD05v2Gj .img-wrapper {
  display: flex;
  justify-content: center;
}
.cid-uenD05wsBk {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uenD05wsBk .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-uenD05wsBk .social-row .soc-item {
  margin: 8px;
}
.cid-uenD05wsBk .social-row .soc-item a:hover .mbr-iconfont,
.cid-uenD05wsBk .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-uenD05wsBk .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #f7f7f7;
  color: #393193;
  transition: all 0.3s ease-in-out;
}
.cid-uenD05wsBk .row-links {
  width: 100%;
  justify-content: center;
}
.cid-uenD05wsBk .mbr-section-title {
  color: #ffffff;
}
.cid-uenD05wsBk .mbr-section-title,
.cid-uenD05wsBk .social-list {
  color: #000000;
}
.cid-uenD05wSTN {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-uenD05wSTN .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-uenD05wSTN form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-uenD05wSTN form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-uenD05wSTN form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uenD05wSTN .content-head {
  max-width: 800px;
}
.cid-uenD05x1vG {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
